
<div class="student-background">

    <!-- Navigation Bar -->
    <div class="row strip">
        <div class="col-md-2"><p class="upper_logo center-block">TimeIn</p></div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <%= image_tag("relax.png", class: "icon-med green") %>
        </div>

        <div class="col-md-1">
            <%= image_tag("check.png", class: "icon-med orange") %>
        </div>

        <div class="col-md-1 lit">
            <%= image_tag("character.png", class: "icon-med purple") %>
        </div>

        <div class="col-md-1">
            <%= image_tag("strong.png", class: "icon-med blue") %>
        </div>

        <div class="col-md-1">
            <%= image_tag("learn.png", class: "icon-med pink") %>
        </div>

        <div class="col-md-1">
            <%= image_tag("done.png", class: "icon-med darkpink") %>
        </div>
        
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <p class="upper_name">Hi, <%=@name%></p>
        </div>
    </div>

    <!-- SCROLL BAR -->
    <div class="wrapper">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul class="scroll">
                <li class="scroll">
                    <div class="scroll-box">
                        <div class="row filler"></div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p class="small-motto purple-text">Build Character</p>
                                <p class="desc">You were sent to the recovery chair because of a character mess up. Let's work to build your character!</p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row filler-most"></div>
                    </div>
                </li>
                <li class="scroll">
                    <div class="scroll-box">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p class="tiniest-motto blue-text">What is Character?</p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <p class="small-med-desc">Character is if a person thinks, feels, and acts in ways that help themselves and others. Here are the 5 things that are part of awesome character:</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <%= image_tag("char_graphic3.png", class: "center-block chartraits") %>
                        </div>
                    </div>
                </li>
                <li class="scroll">
                    <div class="scroll-box">
                    <div class="row filler-small"></div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                           
                         
    
                            <p class="large-desc blue-text">Take the <b>character</b> quiz!</p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
               
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <p class="small-desc blue-text" id="nullError"> Oops!  You must type the word 'character' before you may continue. </p>
                            <p class="small-desc blue-text" id="spellingError"> Oops!  It appears you've misspelled 'character'.  Try again! </p>
                            
                            
                            
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                        
                            <form name="char_form" action="/students/strength/<%= @student_id %>" onsubmit="return validateCharForm()" method="post">
                                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                                <p class="large-desc blue-text"><b>Step 1:</b>  Type the word <b>'character'</b> here:<input autocomplete="off" type="text" class="medium_box blue-text center-block rounded" name="input"></p><br>
                                
                                <p class="large-desc blue-text">
                                    <b>Step 2:</b>  Check all the words that describe <b>good character</b>:
                                </p>
                                <p class="small-desc blue-text" id="checkboxError"> Oops!  That is not the correct answer.  Try again! </p>

                                <p class="small-desc blue-text">
                                <br>
                                <input id= "optimism_check" type="checkbox" name="word" value="Optimism">  Optimism
                                <br>
                                <input id= "jealousy_check" type="checkbox" name="word" value="Jealousy">  Jealousy
                                <br>
                                <input id= "resilience_check" type="checkbox" name="word" value="Resilience">  Resilience 
                                <br>
                                <input id= "anger_check" type="checkbox" name="word" value="Anger">  Anger
                                <br>
                                <input id= "empathy_check" type="checkbox" name="word" value="Empathy">  Empathy
                                <br>
                                <input id= "selfcontrol_check" type="checkbox" name="word" value="Self-Control">  Self-Control
                                <br><br>
                                <input type="submit" class="tiny-motto orange-text" value="Submit">
                                </p>

                            </form>
                        

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">


                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    </div>
                </li>
            </ul>

        </div>


        <a href="#" class="jcarousel-control-prev arrow-scroll">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next arrow-scroll">&rsaquo;</a>

        <p class="jcarousel-pagination">

        </p>
    </div>
    </div>
</div>

<script>

function validateCharForm() {
    var input = document.forms["char_form"]["input"].value;

    if (input.toLowerCase() == 'character') {
        if ((document.getElementById("optimism_check").checked == true) && (document.getElementById("jealousy_check").checked == false) && (document.getElementById("resilience_check").checked == true) && (document.getElementById("anger_check").checked == false) && (document.getElementById("empathy_check").checked == true) && (document.getElementById("selfcontrol_check").checked == true)){
            //all answers are correct
            return true;
        }
    }
    //there is some mistake

    //if there's a mistake is in the character box:
    if (input.toLowerCase() != 'character') {
        //if nothing is typed:
        if (input == null || input == "") {
            document.getElementById("nullError").style.visibility = "visible";
            document.getElementById("spellingError").style.visibility = "hidden";
        } else {        //spelling error
            document.getElementById("spellingError").style.visibility = "visible";
            document.getElementById("nullError").style.visibility = "hidden";
        }
        return false;
    }

    //character box is correct so get rid of those errors
    document.getElementById("spellingError").style.visibility = "hidden";
    document.getElementById("nullError").style.visibility = "hidden";

    //if there's a mistake in the checkboxes:
    if ((document.getElementById("optimism_check").checked == false) || (document.getElementById("jealousy_check").checked == true) || (document.getElementById("resilience_check").checked == false) || (document.getElementById("anger_check").checked == true) || (document.getElementById("empathy_check").checked == false) || (document.getElementById("selfcontrol_check").checked == false)) {
        document.getElementById("checkboxError").style.visibility = "visible";
    }

    return false;
}
</script>