
<div class="student-background">

    <!-- Navigation Bar -->
    <div class="row strip">
        <div class="col-md-2"><p class="upper_logo center-block">TimeIn</p></div>
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <%= image_tag("relax.png", class: "icon-med green") %>
        </div>

        <div class="col-md-1">
            <%= image_tag("check.png", class: "icon-med orange") %>
        </div>

        <div class="col-md-1 lit">
            <%= image_tag("character.png", class: "icon-med purple") %>
        </div>

        <div class="col-md-1">
            <%= image_tag("strong.png", class: "icon-med blue") %>
        </div>

        <div class="col-md-1">
            <%= image_tag("learn.png", class: "icon-med pink") %>
        </div>

        <div class="col-md-1">
            <%= image_tag("done.png", class: "icon-med darkpink") %>
        </div>
        
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <p class="upper_name">Hi, <%=@name%></p>
        </div>
    </div>

    <!-- SCROLL BAR -->
    <div class="wrapper">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul class="scroll">
                <li class="scroll">
                    <div class="scroll-box">
                        <div class="row filler"></div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p class="small-motto purple-text">Build Character</p>
                                <p class="desc">You were sent to the recovery chair because of a character mess up. Let's work to build your character!</p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row filler-most"></div>
                    </div>
                </li>
                <li class="scroll">
                    <div class="scroll-box">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p class="tiniest-motto blue-text">What is Character?</p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <p class="small-med-desc">Character is if a person thinks, feels, and acts in ways that help themselves and others. Here are the 5 things that are part of awesome character:</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <%= image_tag("char_graphic3.png", class: "center-block chartraits") %>
                        </div>
                    </div>
                </li>
                <li class="scroll">
                    <div class="scroll-box">
                    <div class="row filler-small"></div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                           
                         
    
                            <p class="large-desc blue-text">Type the word <b>character</b> here:</p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
               
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <p class="small-desc blue-text" id="nullError"> Oops!  You must type the word 'character' before you may continue. </p>
                            <p class="small-desc blue-text" id="spellingError"> Oops!  It appears you've misspelled 'character'.  Try again! </p>
                            
                            
                            
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <form name="char_form" action="/students/strength/<%= @student_id %>" onsubmit="return validateCharForm()" method="post">
                                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                                <input type="text" class="medium_box default_font center-block rounded" name="input" autocomplete="off">
                                <div class="row filler"></div>
                                <input type="submit" class="submit rounded tiny-motto orange-text" value="Submit">
                            </form>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    </div>
                </li>
            </ul>

        </div>


        <a href="#" class="jcarousel-control-prev arrow-scroll">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next arrow-scroll">&rsaquo;</a>

        <p class="jcarousel-pagination">

        </p>
    </div>
    </div>
</div>

<script>
function validateCharForm() {
    var input = document.forms["char_form"]["input"].value;
    if (input == null || input == "") {
        document.getElementById("nullError").style.visibility = "visible";
        document.getElementById("spellingError").style.visibility = "hidden";
        //alert("Oops!  You must type the word 'character' before you may continue.");
        return false;
    }
    if (input.toLowerCase() != 'character') {
        document.getElementById("spellingError").style.visibility = "visible";
        document.getElementById("nullError").style.visibility = "hidden";
        //alert("Oops!  It appears you've misspelled 'character'.  Try again!")
        return false;
    }
}
</script>