
<div class="student-background">

    <!-- Navigation Bar -->
    <div class="row strip">
        <div class="col-md-2"><p class="upper_logo center-block">TimeIn</p></div>
        <div class="col-md-1">
<!--            <a href="login"><%= image_tag("arrow-left.png", class: "arrow center-block") %></a>-->
        </div>
        <div class="col-md-1">
            <%= image_tag("relax.png", class: "icon-med green") %>
        </div>

        <div class="col-md-1">
            <%= image_tag("check.png", class: "icon-med orange") %>
        </div>

        <div class="col-md-1 lit">
            <%= image_tag("character.png", class: "icon-med purple") %>
        </div>

        <div class="col-md-1">
            <%= image_tag("strong.png", class: "icon-med blue") %>
        </div>

        <div class="col-md-1">
            <%= image_tag("learn.png", class: "icon-med pink") %>
        </div>

        <div class="col-md-1">
            <%= image_tag("done.png", class: "icon-med darkpink") %>
        </div>



<!--             <a href="../strength"><%= image_tag("arrow-right.png", class: "arrow center-block") %></a> -->
        </div>

        <div class="col-md-2"><p class="upper_name center-block">Hi, <%=@name%></p></div>
    </div>
            


    <!-- SCROLL BAR -->
    <div class="wrapper">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul class="scroll">
                <li class="scroll">
                    <div class="scroll-box">
                        <div class="row filler"></div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p class="small-motto purple-text">Build Character</p>
                                <p class="desc">You were sent to the recovery chair because of a character mess up. Let's work to build your character!</p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row filler-most"></div>
                    </div>
                </li>
                <li class="scroll">
                    <div class="scroll-box">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p class="tiniest-motto blue-text">What is Character?</p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <p class="small-med-desc">Character is a person's disposition to think, feel, and act in ways that help oneself and others. Here are the 5 principles that define awesome character:</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <%= image_tag("char_graphic3.png", class: "center-block chartraits") %>
                        </div>
                    </div>
                </li>
                <li class="scroll">
                    <div class="scroll-box">
                    <div class="row filler-small"></div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p class="large-desc blue-text">Please write the full definition of <b>character</b> below!</p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row filler-small"></div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <textarea class="large_box blue-text center-block rounded" type="text"></textarea>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row filler"></div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <p class="tiny-motto orange-text"><%= link_to "Submit", controller: "students", action: "strength", id: params[:id] %></p>
                            <!-- <a href="../strength"><p class="tiny-motto orange-text">Submit</p></a> -->

                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    </div>
                </li>
            </ul>

        </div>


        <a href="#" class="jcarousel-control-prev arrow-scroll">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next arrow-scroll">&rsaquo;</a>

        <p class="jcarousel-pagination">

        </p>
    </div>
    </div>
</div>