<div class="student-background">
	<div id="5.1">
            <!-- Navigation Bar -->
            <!-- Navigation Bar -->
            <div class="row strip">
                    <div class="col-md-2"></div>
                    <div class="col-md-1">
                        <!-- <a href="done.html"><img class="arrow center-block" src="images/arrow-left.png"/></a> -->
                    </div>
                    <div class="col-md-1">
                        <%= image_tag("relax.png", class: "icon green") %>
                    </div>
                    <div class="col-md-1">
                        <%= image_tag("check.png", class: "icon orange") %>
                    </div>
                    <div class="col-md-1">
                        <%= image_tag("character.png", class: "icon purple") %>
                    </div>
                    <div class="col-md-1">
                        <%= image_tag("strong.png", class: "icon blue") %>
                    </div>
                    <div class="col-md-1">
                        <%= image_tag("learn.png", class: "icon pink") %>
                    </div>
                    <div class="col-md-1">
                        <%= image_tag("done.png", class: "icon darkpink") %>
                    </div>
                    <div class="col-md-1">
                        <!-- <a href="done"><img class="arrow center-block" src="images/arrow-right.png"/></a> -->
                    </div>
                    <div class="col-md-2"></div>    
            </div>
        
        <div class="row filler"></div>
        <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <p class="tiny-motto orange-text">You did it!</p>
                    <p class="desc">You finished recovering and can now go back to class.</p>
                </div>
                <div class="col-md-1"></div>
        </div>
        
        <div class="row filler"></div>
        <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <p class="desc"><b class="pink-text"><%= @name %></b> went to the recovery chair because <%= @pronoun %> <b class="pink-text"><%= @reason %></b>. But now, <%= @pronoun %> has recovered from the character mess up! <b class="pink-text"><%= @name %></b> wrote a note here:
                        
                        <p class="prompt border rounded"><%= @text %></p>
                    <p class="desc"> and is now ready to rejoin the class. </p>
                </div>
                <div class="col-md-2"></div>
        </div>
        <div class="row filler-small"></div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                   <a href="end"><p class="finish orange-text">COMPLETE</p></a>
                </div>
                <div class="col-md-3"></div>
        </div>
    </div>
