<div class="student-background">

   <!-- <script src="text/javascript">
        window.location.reload(true); 
    </script> -->
    <!-- Navigation Bar -->
    <div class="row strip">
            <div class="col-md-2"><p class="upper_logo center-block">TimeIn</p></div>
            <div class="col-md-1">
<!--                <a href="character"><%= image_tag("arrow-left.png", class: "arrow center-block") %></a>-->

            </div>
            <div class="col-md-1">
                <%= image_tag("relax.png", class: "icon-med green") %>
            </div>
            <div class="col-md-1">
                <%= image_tag("check.png", class: "icon-med orange") %>
            </div>
            <div class="col-md-1">
                <%= image_tag("character.png", class: "icon-med purple") %>
            </div>
            <div class="col-md-1 lit">
                <%= image_tag("strong.png", class: "icon-med blue") %>
            </div>
            <div class="col-md-1">
                <%= image_tag("learn.png", class: "icon-med pink") %>
            </div>
            <div class="col-md-1">
                <%= image_tag("done.png", class: "icon-med darkpink") %>
            </div>
            <div class="col-md-1">
<!--                <a href="learn"><%= image_tag("arrow-right.png", class: "arrow center-block") %></a>-->
            </div>
            <div class="col-md-2"></div>    
    </div>

    <div class="row filler-small"></div>

    <div class="wrapper">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul class="scroll">
                <li class="scroll">
                    <div class="scroll-box">
                        <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <p class="small-motto blue-text">Let's Get Stronger</p>
                            <p class="desc">You can make your character stronger by practicing and focusing.  Your brain is a muscle.  Just like when you practice basketball and get better at shooting, your character muscles grow every time you use them. </p>
                        </div>
                        <div class="col-md-1"></div>
                        </div>
                    </div>
                </li>
                <li class="scroll">
                    <div class="scroll-box">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="tiniest-motto blue-text"><b>People who have strong character...</b></p>
                                <div class="row">
                                    <div class="col-md-2 pull-center"></div>
                                    <div class="col-md-1 pull-center"></div>
                                    <div class="col-md-1 pull-center">
                                       <%= image_tag("happy.jpg", class: "icon-large") %>
                                    </div>
                                    <div class="col-md-6 pull-center"><p class="list large purple-text" > are happier </p></div>
                                    <div class="col-md-2 pull-center"></div>
                                </div>
                                <div class="row filler-small"></div>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-6"><p class="list large green-text" > get better grades </p></div>
                                    <div class="col-md-1 pull-center">
                                       <%= image_tag("grades.jpg", class: "icon-large") %>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2"></div>
                                </div>
                                <div class="row filler-small"></div>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-1 pull-center">
                                       <%= image_tag("friends.jpg", class: "icon-large") %>
                                    </div>
                                    
                                    <div class="col-md-6"><p class="list large orange-text" > have more friends </p></div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="scroll">
                    <div class="scroll-box">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <p class="desc">Click on your favorite person to see why they have good character!</p> 
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="character-title blue-text default_font">Barack Obama</p>
                                <div class="face-container"> <%= image_tag("obama.jpg", class: "character-face") %></div>
                                <div id="model-desc" class="model-popup">
                                    <div class="model-title">Barack</div>
                                    <p class="model-text">Barack overcame many obstacles to go to college and then to become President of the United States. As a politican, Obama speaks up for what he thinks is right and works day and night to pass good laws and make sure the country runs smoothly. He is a nice and welcoming man who shows <b>love</b> to his family and kindness to people all around the world that are struggling. He shows <b>optimism</b> because he believes that we can make the world a better place.</p>
                                    <div class="model-close"><b>DONE</b></div>
</div>
                            </div>
                            <div class="col-md-4">
                                <p class="character-title blue-text default_font">Hiccup</p>
                                <div class="face-container"> <%= image_tag("hiccup.jpg", class: "character-face") %></div>
                                <div id="model-desc" class="model-popup">
                                    <div class="model-title">Hiccup</div>
                                    <p class="model-text">Even though Hiccup is not as strong or popular as the other boys in his town, he is smart, caring, and honest. By walking up to a deadly dragon, Hiccup is <b>brave</b> and does not let his fear hold him back. He shows <b>resilience</b> by knowing that it is okay to be different and always trying his best.</p>
                                    <div class="model-close"><b>DONE</b></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p class="character-title blue-text default_font">Beyonce Knowles-Carter</p>
                                <div class="face-container"> <%= image_tag("beyonce.jpg", class: "character-face") %>
                                </div>
                                <div id="model-desc" class="model-popup">
                                    <div class="model-title">Beyonce</div>
                                    <p class="model-text">Beyonce is a talented and famous singer. As a mom and busy artist, she works hard to balance her job and her work. She sings fearless music about things she believes in, even if the ideas are unpopular. She shows <b>zest</b> by loving her job and living a life full of excitement and energy.</p>
                                    <div class="model-close"><b>DONE</b></div>
</div>
                            </div>
                        </div>
                        <div class="row filler-small"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="character-title blue-text default_font">Katniss Everdeen</p>
                                <div class="face-container"> <%= image_tag("katniss.jpg", class: "character-face") %></div>
                                <div id="model-desc" class="model-popup">
                                    <div class="model-title">Katniss</div>
                                    <p class="model-text">Katniss is a brave, strong girl who fights for good. Even when she is put into tough situations, <b>she does not give up</b>. Before going into battle, she practices and prepares so that she can get stronger. She does not wait for other people to help her, but instead works hard to make her life better. Katniss shows <b>empathy</b> by taking risks for the people she loves, sharing and giving to people who are struggling, and helping others even when it is dangerous.</p>
                                    <div class="model-close"><b>DONE</b></div>
</div>
                            </div>
                            <div class="col-md-4">
                                <p class="character-title blue-text default_font">Elsa</p>
                                <div class="face-container"> <%= image_tag("elsa.jpg", class: "character-face") %></div>
                                <div id="model-desc" class="model-popup">
                                    <div class="model-title">Elsa</div>
                                    <p class="model-text">Even though she is afraid, Elsa chooses to come out of hiding and show who she really is. She cares a lot about other people. When she makes mistakes, she does not blame others. She shows <b>self-control</b> by learning to use her magical power in a safe and good way instead of a dangerous way.</p>
                                    <div class="model-close"><b>DONE</b></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p class="character-title blue-text default_font">Taylor Swift</p>
                                <div class="face-container"> <%= image_tag("taylor.jpg", class: "character-face") %></div>
                                <div id="model-desc" class="model-popup">
                                    <div class="model-title">Taylor</div>
                                    <p class="model-text">Taylor Swift is a successful singer and song-writer. When she was young, she taught herself to sing and play the guitar. In her music, Taylor <b>speaks out</b> against bullies and encourages people to be themselves, and she uses her time and money to help people who are sick or struggling. She shows <b>curiosity</b> by writing songs about new topics, managing her own business, and working to become a better performer.</p> 
                                    <div class="model-close"><b>DONE</b></div>
</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="scroll">
                    <div class="scroll-box">
                        <!--Drag and drop-->

                        <div class="draganddrop ui-widget ui-helper-clearfix">
                            <!--Directions-->
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <p class="desc">Drag and drop the boxes to label examples of good and bad character!</p>
                                </div>
                                <div class="col-md-1"></div>
                            </div>

                            <!--Gallery of character scenarios-->
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
                                      <!--each one of these li elements needs an element called "correct_flag" that is either "good" or "bad". So, we could store this in char_scenarios[n].correct_answer or something like that-->
                                      
                                      <li class="ui-widget-content ui-corner-tr scens rounded" goodchar= <%= @char_scenarios[0].good_char %> index = 0 >
                                        <h5 class="ui-widget-header words"><%= @char_scenarios[0].caption %></h5>
                                         <%= image_tag(@char_scenarios[0].char_scen_img_file, class: "rawimg") %>
                                      </li>
                                      <li class="ui-widget-content ui-corner-tr scens rounded" goodchar= <%= @char_scenarios[1].good_char %> index = 1>
                                        <h5 class="ui-widget-header words"><%= @char_scenarios[1].caption %></h5>
                                         <%= image_tag(@char_scenarios[1].char_scen_img_file, class: "rawimg") %>
                                      </li>
                                      <li class="ui-widget-content ui-corner-tr scens rounded" goodchar= <%= @char_scenarios[2].good_char %> index = 2>
                                        <h5 class="ui-widget-header words"><%= @char_scenarios[2].caption %></h5>
                                         <%= image_tag(@char_scenarios[2].char_scen_img_file, class: "rawimg") %>
                                      </li>
                                      <li class="ui-widget-content ui-corner-tr scens rounded" goodchar= <%= @char_scenarios[3].good_char %> index = 3>
                                        <h5 class="ui-widget-header words"><%= @char_scenarios[3].caption %></h5>
                                         <%= image_tag(@char_scenarios[3].char_scen_img_file, class: "rawimg") %>
                                      </li>
                                      <li class="ui-widget-content ui-corner-tr scens rounded" goodchar= <%= @char_scenarios[4].good_char %> index = 4>
                                        <p class="ui-widget-header words"><%= @char_scenarios[4].caption %></p>
                                         <%= image_tag(@char_scenarios[4].char_scen_img_file, class: "rawimg") %>
                                      </li>
                                    </ul>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            
                            <div class="row filler-small"></div>

                            <!-- ERROR MESSAGE -->
                            <p class="desc" id="drag_drop_error"></p>

                            <!--Good and bad character boxes*/-->
                            <div id="char" class="row">
                                <div class="col-md-1"></div>
                                <div id="good" class="ui-widget-content ui-state-default col-md-3 rounded">
                                    <p class="ui-widget-header desc">Good Character</p>
                                </div>
                                <div class="col-md-2"></div>
                                <div id="bad" class="ui-widget-content ui-state-default col-md-3 rounded">
                                    <p class="ui-widget-header desc">Bad Character</p>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>

                        <!--Finish button*/-->
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">                               
                               
                               <%= link_to 'FINISH', { controller: "students", action: "learn", id: params[:id]}, :id => 'finish_drag_drop', class: "finish orange-text no-underline" %>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>


        <a href="#" class="jcarousel-control-prev arrow-scroll">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next arrow-scroll">&rsaquo;</a>

        <p class="jcarousel-pagination">

        </p>
    </div>
    </div>
</div>

<script type="text/javascript">
		$(document).ready(function() {
		$('img.character-face').click(function() {
            
            var char = $(event.target)
            console.log(char);
		    
		    //Getting the variable's value from a link 
		    var desc = char[0].parentElement.nextElementSibling
            
            console.log(desc);
            
            //$('#model-desc')

		    //Fade in the Popup
		    $(desc).fadeIn(300);
		    
		    //Set the center alignment padding + border see css style
		    var popMargTop = ($(desc).height() + 24) / 2; 
		    var popMargLeft = ($(desc).width() + 24) / 2; 
		    
		    $(desc).css({ 
		        'margin-top' : -popMargTop,
		        'margin-left' : -popMargLeft
		    });
		    
		    // Add the mask to body
		    $('.student-background').append('<div id="model-mask"></div>');
		    $('#model-mask').fadeIn(300);
		    		// When clicking on the button close or the mask layer the popup closed
			$('.model-close, #model-mask').on('click', function() { 
			      $('#model-mask , .model-popup').fadeOut(300 , function() {
			        $('#model-mask').remove();  
			       }); 
			      return false;
			    });
			});
		});


</script>

<script type="text/javascript">
    
    
  $(document).ready(function() {

        $('body').localScroll({duration:500});

  });

  $(function() {
    // there's the gallery and the trash
    var $gallery = $("#gallery"),
    $good = $("#good"),
    $bad = $("#bad");

    // let the gallery items be draggable
    $( "li", $gallery ).draggable({
      //revert: "invalid", // when not dropped, the item will revert back to its initial position
      containment: "document",
      helper: "clone",
      cursor: "move"
    });

    // let the good be droppable, accepting the gallery items
    $good.droppable({
      accept: ".scens",
      activeClass: "ui-state-highlight",
      hoverClass: "drop-hover",
      drop: function( event, ui ) {
        classifyGood(ui.draggable);
      }
    });

    // let the bad be droppable, accepting the gallery items
    $bad.droppable({
      accept: ".scens",
      activeClass: "ui-state-highlight",
      hoverClass: "drop-hover",
      drop: function( event, ui ) {
        classifyBad( ui.draggable, ui.droppable);
      }
    });

    // let the gallery be droppable as well, accepting items from the character boxes
    $gallery.droppable({
      accept: ".ui-state-default li",
      activeClass: "custom-state-active",
      hoverClass: "drop-hover",
      drop: function( event, ui ) {
        unclassify( ui.draggable );
      }
    });

    //incorrect = false;

    //initialize array where each index represents a char_scenario.  
    // -1 : not yet dragged
    // 0 : incorrectly dragged
    // 1 : correctly dragged
    char_boxes = [-1, -1, -1, -1, -1];

    function addon($item, $box) {
        $item.appendTo( $box ).fadeIn(function() {
          $item
            .animate({ width: "20%"})
            .find( "img" ).css({ height: "90%", width:"90%", margin:"0 0 0 3%"});
        });
    }

    // image deletion function
    function classifyGood( $item) {
        var correct_flag = ($item.attr('goodchar') == 1)
        if (correct_flag == false) {
            //item placed in wrong box
            index = $item.attr('index');
            console.log("index: " + index);
            char_boxes[index] = 0;
            
        } else {
            //item placed in correct box
            index = $item.attr('index');
            console.log("index: " + index);
            char_boxes[index] = 1;
            
        }
        $item.fadeOut(function() {
        var $list = $( "ul", $good ).length ?
          $( "ul", $good ) :
          $( "<ul class='gallery ui-helper-reset'/>" ).appendTo( $good );

      addon($item, $list); 
      });

    }


    function classifyBad( $item) {
        var correct_flag = ($item.attr('goodchar')== 0) 
        if (correct_flag == false) {
            //item placed in wrong box
            index = $item.attr('index');
            console.log("index: " + index);
            char_boxes[index] = 0;
           
        } else {
            //item placed in correct box
            index = $item.attr('index');
            console.log("index: " + index);
            char_boxes[index] = 1;
           
        }
        $item.fadeOut(function() {
        var $list = $( "ul", $bad ).length ?
          $( "ul", $bad ) :
          $( "<ul class='gallery ui-helper-reset'/>" ).appendTo( $bad );
  
        addon($item, $list);
      });
    }

    function unclassify( $item ) {
      $item.fadeOut(function() {
        $item
          .appendTo( $gallery )
          .fadeIn();
        $item.animate({ width: "15%" })
        /* correct_flag == false*/


      });
    }

    $('#finish_drag_drop').click(function (event) {
        //console.log("incorrect: " + incorrect);
        var incorrect = false;
        for (var i = 0; i < 5; i++) {
            console.log("char_boxes[i]: " + char_boxes[i]);
            if (char_boxes[i] == -1) {
                // at least one wasn't dragged
                $( "#drag_drop_error" ).html( "Oops!  You need to label all the boxes as either good or bad character.  Try again! " );
                incorrect = true;
                break;
            } 
            if (char_boxes[i] == 0) {
                // at least one was dragged incorrectly
                $( "#drag_drop_error" ).html( "Oops!  That is not the correct answer.  Try again!" );
                incorrect = true;
            }
        }
        if (incorrect) {
            //display error message
            $( "#drag_drop_error" ).css( "visibility", "visible" );
            // make button orange again
            $( "#finish_drag_drop" ).css( "color", "rgba(227, 138, 120, 1)");
            //don't redirect page
            event.preventDefault();
           

        } else {
            //alert('Hooray!');

            //redirect
        }
        
        //return true;
    });
  });
</script>

