<div class="student-background">

   <!-- <script src="text/javascript">
        window.location.reload(true); 
    </script> -->
    <!-- Navigation Bar -->
    <div class="row strip">
            <div class="col-md-2"><p class="upper_logo center-block">TimeIn</p></div>
            <div class="col-md-1">
<!--                <a href="character"><%= image_tag("arrow-left.png", class: "arrow center-block") %></a>-->

            </div>
            <div class="col-md-1">
                <%= image_tag("relax.png", class: "icon-med green") %>
            </div>
            <div class="col-md-1">
                <%= image_tag("check.png", class: "icon-med orange") %>
            </div>
            <div class="col-md-1">
                <%= image_tag("character.png", class: "icon-med purple") %>
            </div>
            <div class="col-md-1 lit">
                <%= image_tag("strong.png", class: "icon-med blue") %>
            </div>
            <div class="col-md-1">
                <%= image_tag("learn.png", class: "icon-med pink") %>
            </div>
            <div class="col-md-1">
                <%= image_tag("done.png", class: "icon-med darkpink") %>
            </div>
            <div class="col-md-1">
<!--                <a href="learn"><%= image_tag("arrow-right.png", class: "arrow center-block") %></a>-->
            </div>
            <div class="col-md-2"></div>    
    </div>

    <div class="row filler-small"></div>

    <div class="wrapper">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul class="scroll">
                <li class="scroll">
                    <div class="scroll-box">
                        <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <p class="small-motto blue-text">Let's Get Stronger</p>
                            <p class="desc">You can make your character stronger by practicing and focusing.  Your brain is a muscle.  Just like when you practice basketball and get better at shooting, your character muscles grow every time you use them. </p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p class="desc blue-text"><b>People who have strong character...</b></p>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8"><p class="list large purple-text" > are happier </p></div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8"><p class="list large green-text" > get better grades </p></div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8"><p class="list large orange-text" > have more friends </p></div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    </div>
                </li>
                <li class="scroll">
                    <div class="scroll-box">
                        <!--Drag and drop-->

                        <div class="draganddrop ui-widget ui-helper-clearfix">
                            <!--Directions-->
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <p class="desc">Drag and drop the boxes to label examples of good and bad character!</p>
                                </div>
                                <div class="col-md-1"></div>
                            </div>

                            <!--Gallery of character scenarios-->
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
                                      <li class="ui-widget-content ui-corner-tr scens col-md-2">
                                        <h5 class="ui-widget-header words"><%= @char_scenarios[0].caption %></h5>
                                         <%= image_tag(@char_scenarios[0].char_scen_img_file, class: "rawimg") %>
                                      </li>
                                      <li class="ui-widget-content ui-corner-tr scens col-md-2">
                                        <h5 class="ui-widget-header words"><%= @char_scenarios[1].caption %></h5>
                                         <%= image_tag(@char_scenarios[1].char_scen_img_file, class: "rawimg") %>
                                      </li>
                                      <li class="ui-widget-content ui-corner-tr scens col-md-2">
                                        <h5 class="ui-widget-header words"><%= @char_scenarios[2].caption %></h5>
                                         <%= image_tag(@char_scenarios[2].char_scen_img_file, class: "rawimg") %>
                                      </li>
                                      <li class="ui-widget-content ui-corner-tr scens col-md-2">
                                        <h5 class="ui-widget-header words"><%= @char_scenarios[3].caption %></h5>
                                         <%= image_tag(@char_scenarios[3].char_scen_img_file, class: "rawimg") %>
                                      </li>
                                      <li class="ui-widget-content ui-corner-tr scens col-md-2">
                                        <p class="ui-widget-header words"><%= @char_scenarios[4].caption %></p>
                                         <%= image_tag(@char_scenarios[4].char_scen_img_file, class: "rawimg") %>
                                      </li>

                                    </ul>
                                </div>
                                <div class="col-md-2"></div>
                            </div>

                            <!--Good and bad character boxes*/-->
                            <div id="char" class="row">
                                <div class="col-md-1"></div>
                                <div id="good" class="ui-widget-content ui-state-default col-md-3 rounded">
                                    <p class="ui-widget-header desc">Good Character</p>
                                </div>
                                <div class="col-md-2"></div>
                                <div id="bad" class="ui-widget-content ui-state-default col-md-3 rounded">
                                    <p class="ui-widget-header desc">Bad Character</p>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>

                        <!--Finish button*/-->
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">                               
                               <p class="finish orange-text"><%= link_to "FINISH", { controller: "students", action: "learn", id: params[:id]}, class: "finish orange-text no-underline" %></p>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>


        <a href="#" class="jcarousel-control-prev arrow-scroll">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next arrow-scroll">&rsaquo;</a>

        <p class="jcarousel-pagination">

        </p>
    </div>
    </div>
</div>

<script type="text/javascript">
    
    
  $(document).ready(function() {

        $('body').localScroll({duration:500});

  });
    
    window.onload = function() { 
        if(!window.location.hash) {
            window.location = window.location + '#loaded';
            window.location.reload();
        }
    }
    window.onload();

  $(function() {
    // there's the gallery and the trash
    var $gallery = $("#gallery"),
    $good = $("#good"),
    $bad = $("#bad");

    // let the gallery items be draggable
    $( "li", $gallery ).draggable({
      //revert: "invalid", // when not dropped, the item will revert back to its initial position
      containment: "document",
      helper: "clone",
      cursor: "move"
    });

    // let the good be droppable, accepting the gallery items
    $good.droppable({
      accept: ".scens",
      activeClass: "ui-state-highlight",
      hoverClass: "drop-hover",
      drop: function( event, ui ) {
        classifyGood(ui.draggable);
      }
    });

    // let the bad be droppable, accepting the gallery items
    $bad.droppable({
      accept: ".scens",
      activeClass: "ui-state-highlight",
      hoverClass: "drop-hover",
      drop: function( event, ui ) {
        classifyBad( ui.draggable, ui.droppable);
      }
    });

    // let the gallery be droppable as well, accepting items from the character boxes
    $gallery.droppable({
      accept: ".ui-state-default li",
      activeClass: "custom-state-active",
      hoverClass: "drop-hover",
      drop: function( event, ui ) {
        unclassify( ui.draggable );
      }
    });

    function addon($item, $box) {
        $item.appendTo( $box ).fadeIn(function() {
          $item
            .animate({ width: "20%"})
            .find( "img" ).css({ height: "90%", width:"90%", margin:"0 0 0 3%"});
        });
    }

    // image deletion function
    function classifyGood( $item) {
      $item.fadeOut(function() {
        var $list = $( "ul", $good ).length ?
          $( "ul", $good ) :
          $( "<ul class='gallery ui-helper-reset'/>" ).appendTo( $good );
      addon($item, $list);

      });

    }


    function classifyBad( $item) {
      $item.fadeOut(function() {
        var $list = $( "ul", $bad ).length ?
          $( "ul", $bad ) :
          $( "<ul class='gallery ui-helper-reset'/>" ).appendTo( $bad );
        addon($item, $list);
      });
    }

    function unclassify( $item ) {
      $item.fadeOut(function() {
        $item
          .appendTo( $gallery )
          .fadeIn();
        $item.animate({ width: "15%" })
      });
    }
  });
</script>

