<div class="student-background">
	<div id="5.1">
            <!-- Navigation Bar -->
            <div class="row strip">
                    <div class="col-md-2"></div>
                    <div class="col-md-1">
                        <!-- <a href="done.html"><img class="arrow center-block" src="images/arrow-left.png"/></a> -->
                    </div>
                    <div class="col-md-1">
                        <%= image_tag("relax.png", class: "icon green") %>
                    </div>
                    <div class="col-md-1">
                        <%= image_tag("check.png", class: "icon orange") %>
                    </div>
                    <div class="col-md-1">
                        <%= image_tag("character.png", class: "icon purple") %>
                    </div>
                    <div class="col-md-1">
                        <%= image_tag("strong.png", class: "icon blue") %>
                    </div>
                    <div class="col-md-1">
                        <%= image_tag("learn.png", class: "icon pink") %>
                    </div>
                    <div class="col-md-1 lit">
                        <%= image_tag("done.png", class: "icon darkpink") %>
                    </div>
                    <div class="col-md-1">
                        <!-- <a href="done"><img class="arrow center-block" src="images/arrow-right.png"/></a> -->
                    </div>
               
                    <div class="col-md-2"><p class="upper_name center-block">Hi, <%=@name%></p></div>
            </div>
        
        <div class="row filler"></div>
        <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <p class="tiny-motto blue-text">Write to your teacher!</p>
                    <p class="desc">Sometimes it is hard to talk to your teacher in person about how you feel. Is there something you want to let your teacher know?  </p>
                </div>
                <div class="col-md-1"></div>
        </div>

        
        <%= form_tag("post_task", method: "post") do %>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <!--<textarea class="rounded"></textarea>-->

                <%= text_field_tag(:text, nil, class: "large_box center-block rounded")%>
               
            </div>
            <div class="col-md-3"></div>
        </div>
        
        

        <div class="row filler-small"></div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                   <%= submit_tag("DONE!", class: 'submit center-block rounded darkpink-text') %>
                   <% end %>
                </div>
                <div class="col-md-3"></div>
        </div>
    </div>

