
	 
    
    <div id="5.1">
            <!-- Navigation Bar -->
            <div class="row strip">
                    <div class="col-md-2"></div>
                    <div class="col-md-1">
                        <!-- <a href="done.html"><img class="arrow center-block" src="images/arrow-left.png"/></a> -->
                    </div>
                    <div class="col-md-1">
                        <%= image_tag("relax.png", class: "icon green") %>
                    </div>
                    <div class="col-md-1">
                        <%= image_tag("check.png", class: "icon orange") %>
                    </div>
                    <div class="col-md-1">
                        <%= image_tag("character.png", class: "icon purple") %>
                    </div>
                    <div class="col-md-1">
                        <%= image_tag("strong.png", class: "icon blue") %>
                    </div>
                    <div class="col-md-1 lit">
                        <%= image_tag("learn.png", class: "icon pink") %>
                    </div>
                    <div class="col-md-1">
                        <%= image_tag("done.png", class: "icon darkpink") %>
                    </div>
                    <div class="col-md-1">
                        <!-- <a href="done"><img class="arrow center-block" src="images/arrow-right.png"/></a> -->
                    </div>
                    <div class="col-md-2"></div>    
            </div>
            <div class="row filler"></div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <p class="small-motto pink-text">Don't forget!</p>
                </div>
                <div class="col-md-2"></div>
            </div>
        
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <p class="desc-space"> When you are angry, close your eyes and take three deep breaths.</p>
                </div>
                <div class="col-md-4"></div>       
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <%= image_tag("temper.png", class: "icon-large center-block green") %>
                </div>
                 <div class="col-md-5"></div> 
            </div>
            <div class="row-filler"></div>
            <div class="row">
                <div class="col-md-3">
                    <p class="desc-space shift-right">When someone else is struggling, give them encouragement</p>
                </div>
                <div class="col-md-3">
                    <%= image_tag("encourage.png", class: "icon-large center-block green") %>
                </div>
                <div class="col-md-3">
                    <%= image_tag("rejoice.png", class: "icon-large center-block green") %>
                </div>
                <div class="col-md-3">
                    <p class="desc-space shift-left"> When someone else succeeds, rejoice with them</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <%= image_tag("thought.png", class: "icon-large center-block green") %>
                </div>
                 <div class="col-md-5"></div> 
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <p class="desc-space">Before you speak, think about how your words will affect other people.</p>
                </div>
                <div class="col-md-4"></div>
            </div>
        
            <div class="row filler"></div>
            <div class="row filler"></div>
            <div class="row">
                 <div class="col-md-2"></div>
                 <div class="col-md-8">
                    <p class="tiny-motto pink-text">To finish recovering: </p>
                </div>
                <div class="col-md-2"></div>
            </div>
        
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <a href="promise"><p class="small-p purple">Make a promise to yourself.</p></a>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <a href="teacher"><p class="small-p blue">Write something to your teacher.</p></a>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                     <a href="freewrite"><p class="small-p orange">Write about how you are feeling.</p></a>
                </div>
                <div class="col-md-1"></div>
            </div>
    </div>
    <div class="row filler"></div>

