<div class="teacher-background">
<div class="row white-strip">
        <div class="col-md-1">
            <p class="center green-text tiny-logo">TimeIn</p>
        </div>
        <div class="col-md-10"></div>
        <div class="col-md-1">
            <p class="center green-text tiny-logo">Logout</p>
        </div>
</div>

<div class="row">
    <!-- Student List -->
    <div class="col-md-4 outline">
        <div class="row tiny-filler"></div>
        <div class="row">
            <div class="col-md-3 pull-center">
                 <%= image_tag("students.png", class: "icon purple") %>
            </div>
            <div class="col-md-8 pull-center left-align">
                <p class="student-title">My Students</p>
            </div>
        </div>

        <div class="row tiny-filler"></div>
        <div class="row search-bar blue">
            <div class="col-md-2 pull-center">
                <%= image_tag("Path.png") %>
            </div>
            <div class="col-md-10 pull-center"></div>
        </div>
        
        <% for student in @students do %>
            <div class="row border grey">
                <div class="col-md-3 pull-center">
                    <%= image_tag("face.png", class: "icon-small orange") %>
                </div>
                <div class="col-md-8 pull-center left-align">
                    <p class="student-name">
                        <%= link_to student.firstname, controller: "teachers", action: "admin_student_profile", id: student.id %>
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>    
        <% end %>
    </div>

    <!-- Updates Page -->
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row small-filler"></div>
                <p class="update-title center">Number of TimeIns</p>
                <div id="placeholder" style="width:600px;height:300px">  </div>

            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <%= image_tag("alert.png", class: "icon orange center") %>
            </div>
            <div class="col-md-10">
                <p class="student-title">Updates</p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row small-filler"></div>
        <% for update in @updates do %>
        <!-- updates are visits in order of creation, max 5 -->
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="block rounded white">
                                <p class="update-title">
                                        <%= link_to update.date_time.strftime("%A, %b %d | %l:%M"), controller: "teachers", action: "admin_incident_detail", id: update.id %></p>
                                            <% student = Student.find(update.student_id) %>
                                            <% gender_num = student.gender %>
                                            <% if (gender_num == 1) then %>
                                                <% pronoun = "she" %>
                                            <% else %>
                                                <% pronoun = "he" %>
                                            <% end %>

                                            <% reason_num = update.reason_num.to_i %>
                                            <% if (reason_num == 1) then %>
                                                <% reason = "spoke when " + pronoun + " was supposed to be quiet." %>
                                            <% elsif (reason_num == 2) then %>
                                                <% reason = "used inappropriate language." %>
            
                                            <% elsif (reason_num == 3) then %>
                                                <% reason = "was mean to a classmate." %>
                                            <% elsif (reason_num == 4) then %>
                                                <% reason = "was disruptive to the class." %>
                                            <% end %>

                                <p class="update-desc"><%= student.firstname %> <%= student.lastname %> <%= reason %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
            </div>
            <div class="row small-filler"></div>
        <% end %>

    </div>
</div>


    </div> 
    
    <script>
    function barplot() {
       var options = {
            series: {
                bars: { show: true, barWidth: 0.5, lineWidth: 0, fill:true, fillColor: "palegreen", label: {show:true}}
            },
            xaxis: {
                min:0,
                max:2,
                tickSize:1, 
                tickDecimals: 0,
                axisLabel: 'This Week',
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                axisLabelPadding: 5, 
                ticks:[[.5,'This Week'],[1.5,'Last Week']]
            },
            yaxis: {
                min:0,
                ticksize:1,
                tickDecimals: 0
            }, 
            grid: {
                borderWidth: {top: 0, left:0, right:0, bottom:1}
            }, 
            legend: {
                show:false
            }
        }
        var data = [
            { label: "This Week",
              data: [ [.25, <%= @num_lastweek %> ] ] 
            },
            { label: "Last Week",
              data:[[1.25, <%= @num_twoweeksago %> ]] 
          }];

        $.plot($("#placeholder"), data , options);

    }



    $( document ).ready(function() {
        barplot();
    });

    </script>
