<div class="teacher-background">
    <div class="row white-strip">
            <div class="col-md-1">
                <p class="center green-text tiny-logo"><%= link_to "TimeIn", controller: "teachers", action: "admin_dashboard"%> </p>
</p>
            </div>
            <div class="col-md-10"></div>
            <div class="col-md-1">
                <p class="center green-text tiny-logo">Logout</p>
            </div>
    </div>
    
    <div class="row filler-small"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
             <%= image_tag("profile.jpg", class: "icon-face") %>
        </div>
        <div class="col-md-7">
            <div class="row filler-small"></div>
            <p class="student-title shift-slight-right"><%= @student.firstname %> <%= @student.lastname %></p>
            <p class="student-desc shift-slight-right">Julia is in 5th grade. She lives in a single parent household with three brothers in the Tenderloin.</p>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="row filler"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <p class="student-title">Recent TimeIns</p>
            <% for timein in @visits do %>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="block rounded white">
                                <p class="update-title">
                                        <%= link_to timein.date_time.strftime("%A, %b %d, %l:%M"), controller: "teachers", action: "admin_incident_detail", id: timein.id %></p>
                                <p class="update-desc"> <%= timein.get_student().firstname %> <%= timein.get_reason() %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row small-filler"></div>

            <% end %>
        </div>
        <div class="col-md-5">
             <%= image_tag("graphic.png", class: "") %>
            <div class="col-md-1"></div>
        </div>
    </div>

</div>

