<div class="teacher-background">
    <div class="row white-strip">
            <div class="col-md-1">
                <%= image_tag("arrow-left.png", class: "arrow-small") %>
            </div>
            <div class="col-md-3">
                <p class="green-text tiny-logo-left"> <%= link_to @student.firstname, action: "admin_student_profile", id: @incident.student_id %></p>
                </p>
            </div>
            <div class="col-md-7"></div>
            <div class="col-md-1">
                <p class="center green-text tiny-logo">Logout</p>
            </div>
    </div>
    <div class="row filler-small"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <p class="student-title"> TimeIn: <%= @incident.date_time.strftime("%A, %b %d, %l:%M") %> </p>
            <div class="row">
                <div class="col-md-6 center-text"><p class="student-desc">Duration: <%= @duration %></p></div>
                <div class="col-md-6"></div>
            </div>
            
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row filler-tiny"></div>
    <div class="row filler-small outline-upper"></div>
    <div class="row">
    
        <div class="col-md-2"></div>
        <div class="col-md-9">
            <p class="student-title-small blue-text inline">Incident: <p class="student-desc inline"><%= @incident.get_student().firstname%> <%= @incident.get_reason() %></p></p>
            <p class="student-title-small  orange-text inline">Action: <p class="student-desc inline"> <%= @incident.get_action() %> </p></p>
            <p class="student-title-small darkpink-text inline">Response: <p class="student-desc inline"> <%= @incident.task_text %></p></p>
        </div>
        <div class="col-md-1"></div>
    
    </div>
    <div class="row filler-tiny"></div>
    <div class="row filler-small outline-upper"></div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3"><p class="student-title-small">Teacher Notes</p></div>
        <div class="col-md-8">
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-1 pull-center"><%= image_tag("face.png", class: "icon-small orange inline") %></div>
                <div class="col-md-10 pull-center">
                    <p class="student-desc-big">Vanessa: Fight between Marcus and Stephany during Math.</p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row filler-tiny"></div>
            <div class="row">
                <div class="col-md-1 pull-center"><%= image_tag("face.png", class: "icon-small orange inline") %></div>
                <div class="col-md-10 pull-center">
                    <p class="student-desc-big">Jodi: We sohuld keep an eye on this. This has been a recurring incident.</p>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row filler-tiny"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <p class="student-desc-big blue-text">Add Note</p>
        </div>
        <div class="col-md-8">
        </div>
    </div>
    <div class="row filler-tiny"></div>
    <div class="row filler-small outline-upper"></div>


    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <p class="student-title-small center-text">This Week</p>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <% for related in @relateds_student do %>
                    <div class="block rounded white">
                                <p class="update-title"> <%= link_to related.date_time.strftime("%A, %b %d | %l:%M"), controller: "teachers", action: "admin_incident_detail", id: related.id %></p>
                                <p class="update-desc"><%= related.get_student().firstname %> <%= related.get_reason() %></p>
                    </div>
                    <div class="row small-filler"></div>
                    <% end %>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-4">
            <p class="student-title-small center-text">Related</p>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <% for related in @relateds_incident do %>
                    <div class="block rounded white">
                                <p class="update-title"> <%= link_to related.date_time.strftime("%A, %b %d | %l:%M"), controller: "teachers", action: "admin_incident_detail", id: related.id %></p>
                                <p class="update-desc"><%= related.get_student().firstname %> <%= related.get_reason() %></p>
                    </div>
                    <div class="row small-filler"></div>
                    <% end %>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row filler-small"></div>
</div>