<div class="teacher-background">
    <div class="row white-strip">
            <div class="col-md-1">
                <p class="center green-text tiny-logo"><%= link_to "TimeIn", controller: "teachers", action: "admin_dashboard"%> </p>
</p>
            </div>
            <div class="col-md-10"></div>
            <div class="col-md-1">
                <p class="center green-text tiny-logo">
                <%= link_to "Logout", controller: "students", action: "start" %>
                </p>
            </div>
    </div>
    
    <div class="row filler-small"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
             <%= image_tag(@student.image_file_name, class: "icon-face") %>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-6">
            <div class="row filler-small"></div>
            <p class="student-title shift-slight-right"><%= @student.firstname %> <%= @student.lastname %></p>
            <p class="student-desc shift-slight-right"><%= @student.firstname %> is in 3rd grade. In the last two weeks, <%= @student.gender_pronoun() %> has had <%= @vis_lastweek + @vis_twoweeksago%> TimeIns</p>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="row filler"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <p class="student-title">Recent TimeIns</p>
            <% for timein in @visits do %>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="block rounded white">
                                <p class="update-title">
                                        <%= link_to timein.date_time.strftime("%A, %b %d, %l:%M"), controller: "teachers", action: "admin_incident_detail", id: timein.id %></p>
                                <p class="update-desc"> <%= timein.get_student().firstname %> <%= timein.get_reason() %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row small-filler"></div>

            <% end %>
            <% if @visits.length==0 %>
                <p class="zero">This students has no TimeIns to display</p>
            <% end %>
        </div>
        <div class="col-md-5">
            <p class="update-title center">Number of TimeIns</p>
            <div id="placeholder" style="width:500px;height:300px">  </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <script>
    function barplot() {
       var options = {
            series: {
                bars: { show: true, barWidth: 0.5, lineWidth: 0, fill:true, fillColor: "palegreen", label: {show:true}}
            },
            xaxis: {
                min:0,
                max:2,
                tickSize:1, 
                tickDecimals: 0,
                axisLabel: 'This Week',
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                axisLabelPadding: 5, 
                ticks:[[.5,'This Week'],[1.5,'Last Week']]
            },
            yaxis: {
                min:0,
                ticksize:1,
                tickDecimals: 0
            }, 
            grid: {
                borderWidth: {top: 0, left:0, right:0, bottom:1}
            }, 
            legend: {
                show:false
            }
        }
        var data = [
            { label: "This Week",
              data: [ [.25, <%= @vis_lastweek %> ] ] 
            },
            { label: "Last Week",
              data:[[1.25, <%= @vis_twoweeksago %> ]] 
          }];

        $.plot($("#placeholder"), data , options);

    }



    $( document ).ready(function() {
        barplot();
    });

    </script>
</div>

