<div class="teacher-background">
<div class="row white-strip">
        <div class="col-md-1">
            <p class="center green-text tiny-logo">TimeIn</p>
        </div>
        <div class="col-md-10"></div>
        <div class="col-md-1">
            <p class="center green-text tiny-logo">Logout</p>
        </div>
</div>

<div class="row">
    <!-- Student List -->
    <div class="col-md-4 outline">
        <div class="row tiny-filler"></div>
        <div class="row">
            <div class="col-md-3 pull-center">
                 <%= image_tag("students.png", class: "icon purple") %>
            </div>
            <div class="col-md-8 pull-center left-align">
                <p class="student-title">My Students</p>
            </div>
        </div>

        <div class="row tiny-filler"></div>
        <div class="row search-bar blue">
            <div class="col-md-2 pull-center">
                <%= image_tag("Path.png") %>
            </div>
            <div class="col-md-10 pull-center"></div>
        </div>
        
        <% for student in @students do %>
            <div class="row border grey">
                <div class="col-md-3 pull-center">
                    <%= image_tag("face.png", class: "icon-small orange") %>
                </div>
                <div class="col-md-8 pull-center left-align">
                    <p class="student-name">
                        <%= link_to student.firstname, controller: "teachers", action: "admin_student_profile", id: student.id %>
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>    
        <% end %>
    </div>

    <!-- Updates Page -->
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <%= image_tag("graphic.png", class: "") %>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <%= image_tag("alert.png", class: "icon orange center") %>
            </div>
            <div class="col-md-10">
                <p class="student-title">Updates</p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row small-filler"></div>
        <% for update in @updates do %>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="block rounded white">
                                <p class="update-title">
                                        <%= link_to update.date_time.strftime("%A, %b %d, %l:%M"), controller: "teachers", action: "admin_incident_detail", id: update.id %></p>
                                <p class="update-desc"><%= update.reason_str %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
            </div>
            <div class="row small-filler"></div>
        <% end %>

    </div>
</div>

    </div> 